.Table{
  margin-top:40px;
  border:solid 1px black;
}

.lis{
 color: white;
 height:50px;
 text-align:center;
 padding:10px;
 font-family: "Times New Roman";
}

.li{

font-family: "Times New Roman";
  color:white;
  
  text-align:left;
  padding:5px;
  height:10px;

}

.eve{
	background-color: #5d6dfc;
}

.Note{


	font-style:bold;
	padding-top: 40px;
}