.det{
  margin:50px;
}

.Head{
  text-align:center;
  height:50px;
  padding :10px;
  font-size :25px;
 font-style:Bold;
 font-family: "Times New Roman";
  color: white;
}

.Des {
	 height:600px;
}


.White{
	color:white;
}

.link{
  
  font-family: "Times New Roman";
  color:white;
  
  text-align:left;
  padding:5px;
  height:30px;
}

.both{
  background-color:Maroon;
}