.Hea{
  text-align:center;
  height:50px;
  padding :10px;
  font-size :25px;
 font-style:Bold;
 font-family: "Times New Roman";
  color: white;
}

.deta{
  margin-top:50px;
  opacity: 0.8;
}

.Desi{
  height: 500px;
  background-image: url("../images/light.jpg");
}

.lin{
  font-family: "Times New Roman";
  color:white;
  
  text-align:left;
  padding:5px;
  height:20px;
}

.bot{
  background-color: Maroon;
}